.logo1{
    height: 50px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .dflex1{
        display: flex;
        align-items: center;
         height: 68px;
      }
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dflex1{
    display: flex;
    align-items: center;
     height: 68px;
  }

}
.bg-x{
    background-color: #D10024;
}
.text-x{
    color:#D10024
}
.bx{
    box-sizing: border-box !important;
}
