*{
    padding: 0%;
    margin: 0%;
}

.btn:not([class*=btn-outline-]) {
  border: auto !important;
}
.bx{
  box-sizing: border-box;
}
.check-box{
 background-color: #D10024 !important;
}
.hard-st{
  margin: 0% !important;
  padding: 0% !important;
}
.color-x1{
    color:#D10024;
  }
  .btn-bg-x1{
    border: 2px solid #D10024 !important; 
    color:#D10024 ;
    box-sizing: border-box !important;
  }
  .btn-bg-x1:hover{
    border: 2px solid #b5011f;
    background-color: #e5e5e5;
    color:#D10024;
  }  
  .border-1{
    border: 2px solid #D10024 !important; 
  }
  a:hover, a:focus {
    color: #D10024;
    text-decoration: none;
    outline: none;
  }
  .bg-x1{
    background-color: #D10024;
    color:#eee;
  }
  .bg-x1:hover{
    background-color: #b5011f;
    color:#eee;
  }
  .header {
   
    background-color: #15161D;
  }
  .top-header {
  
    background-color: #1E1F29;
  }
  .a-col-x{
    color:#eee
  }
  .search-x-round{
    border-radius: 25px !important;
    overflow: hidden;
  }
  .left-x-nev{
    position: fixed;
    height: 100%;
    width: 280px;
   overflow-y: scroll;
  }
  .wide-x{
    width: 280px !important;
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #ebebeb; 
  border-radius: 25px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#D10024; 
  border-radius: 25px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dddddd; 
}

::-webkit-scrollbar:horizontal{
  height: 5px;

}
::-webkit-scrollbar-thumb:horizontal{
  background:#D10024; 
        border-radius: 10px;
        
    }

.sharp-x{
  display: none !important;
}
.close-cx{
  overflow: hidden;
  border-radius: 25px;
}
.button-cx{
  height: 30px;
  width: 30px;
}
.hover-x{
  color: #eee;
}
.hover-x:hover{
  color:#D10024;
  background-color: #d1002328;
}
.active-page{
  color:#D10024;
  background-color: #d1002328;
}
.icon-logo{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 20px;
}
.icon-logo{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 20px;
}
.icon-logo-1{
  height: 42px;
  width: 42px;
  border-radius: 25px;
  font-size: 20px;
}
.blue-star{
  color:#D10024;
  background-color: #d1002328;
}
.card-hover-x:hover{
  background-color: #d1002311;
}
.color-grey{
  color:#15161D;
}
.z-index{
  z-index: 999 !important;
}
.blue-star-2{
  color:#D10024;
  background-color: #d100231c !important;
  border-right: 1px solid rgba(77, 77, 77, 0.317);
}
.bg-process{
  background-color: rgba(205, 231, 239, 0.598);
}
.bg-deliverd{
  background-color: rgba(165, 248, 190, 0.527);
}
.bg-cancel{
  background-color: rgba(248, 165, 165, 0.425);
}
.bor-r{
  border-radius: 25px;
}
.d-flex{
  display: flex;
  align-items: center;
}
.tox-notifications-container{
  display: none !important;
}
select{
  padding: 50px;
}

/*=====this is very imporent css for image box ==== */
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 1px dashed rgb(135, 135, 135);
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container-x{
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 20px;
  border-radius: 10px;
  border: 1px dashed rgb(135, 135, 135);
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover , .drop-container-x:hover {
  background: #eee;
  border-color: #111;
}
input:hover{
  background: #eee;
}
selcet:hover{
  background: #eee;
}
.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}
input[type=file]::file-selector-button {

  background: #D10024 !important;
  color: #fff;
}

input[type=file]:hover{
  background-color: white;
}

.btn-image{
  position: relative;
}
.title-dis{
  height: 205px;
  resize: none;
  overflow-y: scroll;
}

/*=====this is very imporent css for image box  end==== */
.tox-tinymce{
  height: 300px !important;
  border: 1px solid #c8c8c8 !important;
}
.overflow-hidden-x{
  overflow: hidden !important;
}
.detail-dis{
  height: 230px;
  width: 100%;
}
.edit-text-button{
  font-size: 14px;
}
.bg-grey{
  background-color: rgba(211, 211, 211, 0.354);
}

/* this is only for the order detail page */

.border-color-x1{
  border-color: #D10024 !important;
}

/* this is only for the order detail page end */

.nav-tabs .nav-link.active {
  color: #D10024 !important;
  border-bottom: 1.6px solid #D10024;
  background-color:  rgb(240, 240, 240) !important;
}

.hig-image{
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
}
.h-textarea{
  height: 170px;
}
.notX{
 
  height: 550px;
  overflow-y: scroll;

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tit{
      font-size: 1.5rem;
      font-weight: 600;
  }
  .tit-x{
      font-size: 1rem;
      font-weight: 600;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tit{
      font-size: 1.7rem;
      font-weight: 600;
  }
  .tit-x{
      font-size: 1rem;
      font-weight: 600;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tit{
      font-size: 2rem;
      font-weight: 600;
  }
  .tit-x{
      font-size: 1.3rem;
      font-weight: 600;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tit{
      font-size: 2rem;
      font-weight: 600;
  }
  .tit-x{
      font-size: 1.3rem;
      font-weight: 600;
  }
}
.h-textarea-1{
  height: 120px;
}



input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0px !important;
  accent-color: #D10024;
}
.div-profile{
 
  width: 100%;
}

.card-bg{
  height: 200px;
  width: 100%;
 background-image: url("../img/7861225.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.card-cont{
  height: 300px;
  width: 100%;
  background-color: #ececec;
}
.image-pro{
  height: 270px;
  width: 270px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 22;
  
}
.bx{
  box-sizing: border-box !important;
}
.hei-x{
  padding: 0% 25px;
  height: 43px;
  width: 170px;
  margin: 0% 7px;
}
/*crop guide */

.text-area{
    height: 250px;
}
.check-box{
   height: 1.1rem !important;
   width: 1.1rem !important;

}
.fsg{
  font-size: 15px;
}
.td-data{
  height: 40px ;
  
}
th{
  text-align: center;
}
#tbody-x{
  height: 450px;
  overflow-y: scroll;
}

